In [1]:
import os
os.environ['USE_PYGEOS'] = '0'
import helpers as hs
from importlib import reload

--- Import helpers ---

In [25]:
reload(hs)

--- Import helpers ---

# Données descriptives pour  des quartiers choisis

# Création de la base  de données

In [26]:
pgdf = hs.get_place_POI("Paris")
# je comprend pas le warning  : j'ai projeté en WGS-84.

c:\Users\leopo\OneDrive - GENES\StatApp\BATO-MOUCHE-Stat-App\helpers\scrapping.py:188: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf_pois["center"]=gdf_pois.centroid

In [27]:
pgdf

                                               name                    center  \
element_type osmid
node         25209909   Relais Saint-Cloud Dassault  POINT (2.22249 48.85498)
             25213384     Relais Total Du Pont Aval  POINT (2.26615 48.83468)
             27091941                   Le Capitole  POINT (2.22871 48.87055)
             27415805                Edmond Rostand  POINT (2.30345 48.88834)
             158268042                          NaN  POINT (2.31657 48.83144)
...                                             ...                       ...
relation     14197725                     Nespresso  POINT (2.37499 48.84486)
             14197726                       Cluizel  POINT (2.37478 48.84498)
             14197727                       Izipizi  POINT (2.37467 48.84503)
             14197729               Panier des Sens  POINT (2.37441 48.84518)
             14883881                           NaN  POINT (2.30126 48.86488)

                                                                 geometry  \
element_type osmid
node         25209909                            POINT (2.22249 48.85498)
             25213384                            POINT (2.26615 48.83468)
             27091941                            POINT (2.22871 48.87055)
             27415805                            POINT (2.30345 48.88834)
             158268042                           POINT (2.31657 48.83144)
...                                                                   ...
relation     14197725   POLYGON ((2.37508 48.84479, 2.37506 48.84478, ...
             14197726   POLYGON ((2.37486 48.84497, 2.37482 48.84494, ...
             14197727   POLYGON ((2.37471 48.84500, 2.37470 48.84500, ...
             14197729   POLYGON ((2.37444 48.84514, 2.37445 48.84514, ...
             14883881   POLYGON ((2.30127 48.86490, 2.30128 48.86490, ...

                        restaurant  culture and art  education  food_shops  \
element_type osmid
node         25209909            0                0          0           1
             25213384            0                0          0           1
             27091941            0                1          0           0
             27415805            0                1          0           0
             158268042           0                0          1           0
...                            ...              ...        ...         ...
relation     14197725            0                0          0           1
             14197726            0                0          0           1
             14197727            0                0          0           0
             14197729            0                0          0           0
             14883881            0                0          0           0

                        fashion_beauty  supply_shops
element_type osmid
node         25209909                0             1
             25213384                0             1
             27091941                0             0
             27415805                0             0
             158268042               0             0
...                                ...           ...
relation     14197725                0             0
             14197726                0             0
             14197727                0             1
             14197729                1             0
             14883881                0             1

[46183 rows x 9 columns]

## Création des données aggrégées sur la grille INSPIRE 200X200m
On part des données OSM cad une liste de points avec coordonnées et infos et on veut obtenir une liste des carrés INSPIRE avec le total des catégories par carré.

### Définitions des catégories d'analyse

## Calcul des indices d'accessibilité

# Analyses

## Régression

## Clusterisation